* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

.home {
  min-height: calc(100vh - 70px);
  padding: 0 calc(3.5vw + 5px);
  position: relative;
  overflow-x: hidden;
}

.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background: url("./assets/images/home-background.png") center center no-repeat
    fixed;
}

.loader_page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100vh;
  z-index: 125;
  left: 0;
  top: 0;
}

.loader_page_head {
  display: block;
}

.loader_head {
  display: none;
}
