body {
  margin: 0;
  color: white;
  background-color: #040714;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slider {
  padding-top: 20px;
}

.slider ul li button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.slider li.slick-active button::before {
  color: white;
}

button {
  z-index: 1;
}

/* .slick-list {
  overflow: visible;
  outline: none;
} */
.slider_wrappr img:hover {
  border: 4px solid #eee;
}

/* .slick-prev:before,
.slick-next:before {
  display: none;
} */
/* 
#root {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
} */
